@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgound-rgb: #FFFFFF;
}


*{
  margin-top: 0;
}
html{
  /* overflow: hidden; */
}
body {
 height:100%;
 width: 100%;
 color: rgb(var(--background-rgb));
 background-image: url('../public/images/sofa.png');
 background-size: contain;
 background-repeat: no-repeat;
}

@media (max-width: 640px) {
  body {
    
    width: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    /* height:30vh;  */
    background-image: url('../public/images/mobileView.png');
  }
}
@media (min-width: 350) and (max-width: 640px) {
  #aboutPage {
    padding-top: 30vh;
  }
}

footer {
  width: 100%;
}
input::placeholder{
  color:#FFFFFF;
}
#landing-page {
  
}
